form {
    display: flex;
    width: 100%;
}


.search-bar {
    position: relative;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    background-color: #1c688e;
  }
  
  .search-bar__container {
    padding: 22px 50px 22px 25px;
  }
  .search-bar__input {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    width: 100%;
    padding: 12px;
    border: 1px solid #dddddd;
    border-radius: 5px 5px 5px 5px;
  }
  
  .search-bar__input::placeholder {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    color: #b3b3b3;
  }
  
  .search-bar__input:focus {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    outline: 0;
  }