.grouped-restaurants {
    width: 100%;
    max-width: 700px;
    min-width: 200px;
}



.ais-Hits-list.dish-list {
    display: flex;
    flex-direction: row;
    overflow: auto;
    max-width: 120vw;
    margin: -5px 0 0 0;
    height: 200px;
    background-color: #fefefe;
    z-index: 2; /* Increased to ensure it's above the button */
    border: 1px solid #f0f0f0;
    position: relative; /* Establishes a new stacking context for safety */
    border-radius: 0px 0px 20px 20px;
    align-items: center; /* Centers items vertically within the container */

}

.search-header{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    padding: 15px;
}






.dish-list::-webkit-scrollbar {
    display: none;
}


.ais-Hits-item.hit-item {
    border: 1px solid #f0f0f0;
}

.ais-Hits-item.dish-item{
    margin: 00px 10px 0px 10px;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    min-width: 300px;
}



.dish-item{
    margin: 10px 10px 10px 10px;
    width: 80%;
    max-width: 400px;
}

.dish-price{
    font-weight: 610;
    font-size: 12px;
    padding: 0;
    margin: 0;

}

.hit-item {
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Align items to the start (top) */
    justify-content: space-between; /* Keep this to maintain spacing */
    width: 100%; /* Ensures the hit item takes full width */
    margin: 0;
}

.dish-item img {
    width: 110px;
    height: 110px;
    border-radius: 20%;
    margin-right: 0px;
    border: 1.5px solid #c8ced0;
    object-fit: cover;
    align-self: center; /* This will center the image vertically if desired */
}

.dish-name {
    font-size: 18px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.location-button {
    min-width: 100px;
    max-height: 30px;
    font-size: 14px;
    color: #3f69ad;
    background-color: #65a9e85f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: 20px 0 0 10px;
}



.clear-button {
    min-width: 80px;
    max-height: 30px;
    font-size: 14px;
    color: #ad643f;
    background-color: #e888655f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: 20px 0 0 0;
}


.full-width-button {
    width: 100%;
    padding: 40px 10px 10px 20px;
    font-size: 16px;
    color: #3f69ad;
    background-color: #65a9e85f;
    border: none;
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
    font-weight: bold;
    margin: -30px 0 20px 0; /* Pulls the button up to overlap */
    z-index: 1; /* Ensure it's below the hits list but within its own context */
    position: relative; /* Critical for z-index to take effect */
}

.full-width-button:hover {
    color: #3d71c4;
    background-color: #81b1de5f; /* Darker shade of blue for hover effect */
}




.ais-SearchBox{
    width: 90%;

    margin: 0 auto;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.ais-SearchBox-form > .ais-SearchBox-input{
    border-radius: 25px 25px 25px 25px;

    

}

.ais-SearchBox-form{
    max-width: 600px;

}


.ais-SearchBox-form > .ais-SearchBox-input, .ais-SearchBox-form> .ais-SearchBox-submit{
    padding: 10px;
    font-size: 16px;
}


.grouped-restaurants-banner {
    position: relative; /* Establishes a positioning context */
    width: 100%;
    height: 150px; /* Adjust height to fit the banner design */
    overflow: hidden; /* Ensures no overflow of content */
    border-radius: 25px 25px 0 0; /* Rounded corners at the top */
}


.grouped-restaurants-banner img {
    width: 100%;
    height: 100%; /* Full height of the container */
    object-fit: cover; /* Ensures the image covers the area without distortion */
    border-radius: 25px 25px 0 0; /* Consistent with container border-radius */
    position: absolute; /* Positioned absolutely to fit the container */

}

.restaurant-list{
    width: 80%;
    margin: 0 auto;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.grouped-restaurants-banner .image-overlay {
    position: absolute; /* Positioned absolutely to cover the image */
    top: 0;
    left: 0;
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
    background-color: rgba(136, 124, 124, 0.4); /* Semi-transparent black for gray effect */
    z-index: 1; /* Above the image but below the text */
}

.grouped-restaurants-banner h2 {
    position: absolute; /* Absolutely position the text */
    transform: translate(-2%, 0%); /* Offset the transform for true centering */
    color: white; /* White color for visibility */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Text shadow for better readability */
    font-size: 24px; /* Larger font size */
    z-index: 2; /* Ensure it's above the image */
    width: 100%; /* Full width to center text properly */
    text-align: right; /* Center text alignment */
}
